/* основний фон та колір тексту */
:root {
  --accent-color: #2196f3;
  --primary-color-title: #212121;
  --color-nav: #212121;
  --color-bg-promo-footer: #2f303a;
  --primary-color-text: #757575;
  --primary-color-bacground: #ffffff;
  --color-logo-primary: #000000;
  --color-bg-hero: #f5f4fa;
  --color-text-promo: #ffffff;
  --color-link-contacts: rgba(255, 255, 255, 0.6);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--primary-color-bacground);
  color: var(--primary-color-text);
}

p,
a,
h1,
h2,
h3,
h4 {
  margin: 0 0;
}

ul {
  margin: 0 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* удалення крапочок напроти пунктів списку */
ul {
  list-style: none;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1200px;
  outline: 2px solid tomato;
}

/* шапка */

.site {
  align-items: center;
}

.box {
  display: flex;
}

/* логотип */

.container .logo-link {
  /* display: block; */
  padding-top: 24px;
  padding-bottom: 25px;

  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  color: var(--color-logo-primary);
  /* outline: 2px solid red; */
}

.container .logo {
  color: var(--accent-color);
}

nav {
  display: flex;
}

/* навігація сайту */

.site {
  /* background-color: #ccc; */
}

.site-pagination {
  display: flex;

  margin-top: 0;
  margin-bottom: 0;
  margin-right: 344px;
}

.site-pagination .link:hover,
.site-pagination .link:focus {
  color: var(--accent-color);
}

.site-pagination .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--color-nav);
  /* outline: 2px solid red; */
}

.site-pagination .item {
  margin-right: 50px;
}

.site-pagination .item:last-child {
  margin-right: 0;
}

.site-pagination .link.current {
  color: var(--accent-color);
}

.site-contacts {
  display: flex;
}

.site-contacts .item + .item {
  margin-left: 50px;
}

.site .site-link:hover,
.site .site-link:focus {
  color: var(--accent-color);
}

.site .site-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  color: var(--primary-color-text);
  /* outline: 2px solid red; */
}

/* головна інформація сайту */

/* сторінка портфоліо */

/* фільтри */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-nav {
  color: var(--color-nav);
  cursor: pointer;
}

.site-nav .site-button:hover,
.site-nav .site-button:focus {
  background-color: var(--accent-color);
  color: #ffffff;
  cursor: pointer;
}

.site-nav .site-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: inherit;
  background-color: #f5f4f4;
  color: var(--color-nav);
  border-color: transparent;
}

/* секція реклама */

.promo {
  background-color: var(--color-bg-promo-footer);

  outline: tomato;
}

.promo-box {
  padding-top: 200px;
  text-align: center;
}

.promo-title {
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
  /* padding-top: 200px; */
  margin-right: auto;
  margin-left: auto;

  outline: 2px solid tomato;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-promo);
}

.promo-button {
  min-width: 216px;
  height: 50px;
  border-radius: 4px;
  margin-bottom: 200px;

  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--color-text-promo);
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.promo-button:hover,
.promo-button:focus {
  background-color: #188ceb;
  color: var(--color-text-promo);
}

/* наші особливості */

.subtitle {
  padding-top: 94px;
}

.category {
  display: flex;
}

.category > .item {
  margin-bottom: 94px;
  /* flex-basis: calc(100% / 4); */

  outline: 1px solid fuchsia;
}

.section-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-color-title);
}

.section .text {
  font-size: 14px;
  line-height: 1.71;
}

.section .item {
  display: inline-block;
  margin-right: 30px;
}

.section .item:last-child {
  margin-right: 0;
}

/* чим ми займаємось галерея */

.item img {
  outline: 1px solid orangered;
}

.galery-item > .item {
  display: inline-block;
  /* margin-right: 30px; */
  margin-bottom: 94px;

  /* flex-basis: calc(100% / 3); */
}

.galery .item:last-child {
  margin-right: 0;
}

.galery-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--primary-color-title);
}

.aside .aside-link {
  text-decoration: none;
}

.aside-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-color-title);
}

.aside-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-color-text);
}

/* герої */
.hero {
  background-color: var(--color-bg-hero);
}

.hero .hero-meta {
  display: inline-block;
  margin-right: 30px;
  margin-bottom: 94px;

  background-color: var(--primary-color-bacground);
}

.hero .hero-meta:last-child {
  margin-right: 0;
}

.hero-title {
  padding-top: 94px;
  padding-bottom: 50px;
  text-align: center;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--primary-color-title);
}
.hero-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-color-title);
}

.hero-text {
  font-size: 16px;
  line-height: 1.19;
}

/* підвал */
.contacts {
  background-color: var(--color-bg-promo-footer);
}

.contacts .logo-link {
  text-decoration: none;
  color: #ffffff;
}

.contacts-adress:hover,
.contacts-adress:focus {
  background-color: var(--color-bg-promo-footer);
  color: var(--accent-color);
}

.contacts-adress {
  text-decoration: none;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.contacts-link:hover,
.contacts-link:focus {
  background-color: var(--color-bg-promo-footer);
  color: var(--accent-color);
}

.contacts-link {
  line-height: 1.71;
  color: var(--color-link-contacts);
  font-style: normal;
  text-decoration: none;
}
